*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: Nunito, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: black;
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.8s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* for 320px */
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 2px;
    position: absolute;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    
}

.navbar h1{
    font-size: 1rem;
    align-self: center;
    font-family: 'Nunito', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
   /*background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); ;
*/
   }

.navbar ul{
    white-space: nowrap;
    max-width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.navbar li{
    list-style: none;
}

.navbar a{
    text-decoration: none;
    padding: 5px 8px;
    margin:auto;
    font-family: 'Nunito',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.825rem;

}

.navbar a:hover{
    /* border: 1px solid transparent;
    border-radius: 5px; */
    text-decoration: underline;
    color: #00FFFF;
}
.imgholder{
    margin-top: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hello{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 1.5rem;
}

.imgholder h1 span{
    color: #00FFFF;
}
.imgholder h1:first-of-type{
    font-size: 22px;
}



.imgholder h1:last-of-type{
    font-size: 18px;
}

.imgholder img{
    width: 320px;
    display: flex;
    flex-grow: 0.3;
}

.Aboutme{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}
.Aboutme h3:first-of-type{
    align-self: center;
    margin: 10px 0px;
    font-weight: 700;
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition-duration: 1s;

}

.Aboutme h3:last-of-type{
    align-self: center;
    font-weight:700;
    font-size: 15px;
    color: #00FFFF;

}
.Aboutme p{
    margin: 5px 20px;
    font-weight: 400;
    line-height: 1.5;
}

.skillsetholder{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.skillsetholder h2{
    align-self: center;
    padding: 15px 0px;
    font-family: 'Nunito',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    font-size: 20px;
    transition-duration: 1s;
}

.skillsetholder h2:hover{
    color: #00FFFF;
}


.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content:center
}

.skills div{
    display: flex;
    min-width: 280px;
    max-width: 1400px;
    flex: 1;
    padding: 24px;
    margin: 10px;
    justify-content: flex-start;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.4s ease-in-out 0s;
    

}

.skills div:hover{
    /* background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
    cursor: pointer;
    transform: scale(1.1);
    background-color: #00ffffe0;
    box-shadow: 0px 0px 20px #3e3e3e;

}

.skills h6{
    font-weight: 700px;
    font-size: 15px;
    margin: 6px 0px;
    color: black;
    transition: all 0.4s ease-in-out 0s;
}

.skills p{
    color: black;
    transition: all 0.4s ease-in-out 0s;
    line-height: 1.5;
    
}
.skills div:hover h6, .skills div:hover p{
    color: #FFFFFF;
}


.skills svg{
        width: 50px;
        height: 50px;
}
.skills img{
        width: 50px;
        height: 50px;
}

.socialsholder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 10px;
    
}

.socialsholder a{
    padding:10px 10px;
    display: block;
    border: 1px solid transparent;
    border-radius: 35px;

}
.socialsholder svg{
    width: 50px;
    height: 50px;
    transition: all 0.4s ease-in-out 0s;
}

.socialsholder div{
    margin: 10px 15px;   
}

.socialsholder path{
    fill: #FFFFFF;
    transition: all 0.4s ease-in-out 0s;
}


.socialsholder div:hover svg{
    transform: scale(1.1);
}

.socialsholder div:hover path{
    fill: #00FFFF;
}


footer {
    margin-top: 25px;
    color: #fff;
    padding: 20px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(41, 46, 54, 0.75);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
.footer-content section {
    flex: 1;
    margin: 0px 10px;
}

.footer-bottom {
    text-align: center;
    /*margin-top: 20px;*/
    font-size: 14px;
}

/*M edia Queries*/

@media screen and (max-width:503px){
    .imgholder{
        justify-content: flex-end;
    }
    .hello{
        display: none;
    }

}

@media screen and (min-width:1000px){
    .navbar{
        flex-direction: row;
        justify-content: space-around;
    }
    .navbar ul{
        width: 35rem;
    }
    .navbar a{
        font-size: 0.925rem;
    }
    .navbar  h1{
        font-size: 1.5rem;
    }

    .Aboutme p{
        margin: 5px 50px;
    }
    .skillsetholder{
        margin: 0px 15px;
        margin-top: 25px;
    }
}